:focus{
  outline: transparent !important;
}
.path-estadio #sidebar-first {
  display: none;
}
.layout-sidebar-first .main-content {
  margin: 0px;
  width: 100%;
}
.path-estadio .page-title {
  font-family: arial;
  text-transform: uppercase;
  text-align: center;
  background: #dc0105;
  color: #fff;
  margin: 10px 0% 5px;
  padding: 5px;
  font-size: 1.3em;
  line-height: 1.8;
}

.ultimos-partidos {
  text-align: center;
  font-family: arial;
}

.ultimos-partidos .view-header {
  background-color: #222328;
  margin-bottom: 0%;
  padding: 0.6em 0em 0.6em;
  width: 100%;
  color: white;
  font-weight: 600;
  line-height: 100%;
  font-size: 13px;
  margin-top: 15px;
}
.ultimos-partidos .view-content {
  background: #dde6ec;
  padding-bottom: 14px;
  padding-top: 10px;
}
.ultimos-partidos .view-content .views-row {
  height: 110px;
  border: none;
  background-color: #f4f5f8;
  color: black;
  width: 153px;
  display: inline-block;
}
.ultimos-partidos .partido {
  padding-bottom: 5px;
}
.ultimos-partidos .equipo .logo_equipo {
  width: 20px;
  height: 20px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.ultimos-partidos .equipo .nombre {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 83px;
  margin-left: 2px;
  font-weight: 400;
}
.ultimos-partidos .fecha {
  width: 96%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #3c4151;
  margin: auto;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  margin-top: 2px;
  margin-left: 3px;
}
.ultimos-partidos .equipo .resultado {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 19px;
  font-weight: 600;
}
.ultimos-partidos .estado {
  width: 60%;
  background: #a81900;
  margin: auto;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 20%;
  color: white;
  text-transform: uppercase;
}

/*---*/

.layout--twocol-section--50-50 {
  margin: 0px -4px;
  display: flex;
  flex-direction: row;
  flex-wrap: inherit;
  font-family: arial;
}
.layout--twocol-section--50-50 .layout__region {
  flex: 1 1 auto;
  text-align: center;
  margin: 4px;
}
.layout--twocol-section--50-50 .layout__region .block {
  border: 2px solid #9a2500;
  margin-bottom: 10px;
}
.layout--twocol-section--50-50 h2 {
  background: #222328;
  padding: 0.2em 0em 0.2em;
  font-size: 1em;
  height: 27px;
  border-bottom: 2px solid #a81900;
  color: white;
  font-weight: 600;
  text-align: center;
  margin: 0px;
  text-transform: uppercase;
  line-height: 2;
}

/*ERI-SECCION FECHAS - INICIO*/

.block .content {
  margin-top: 0px;
}
.fechas .partido {
  padding-top: 10px;
}

.fechas.view-estadio .view-content .views-row {
  border-bottom: 1px solid #cccccc;
}

.fechas .partido .contenido .equipo_a {
  float: left;
  margin-left: 25px;
}

.fechas .partido .contenido .equipo_b {
  float: right;
  margin-right: 10px;
}

.fechas .partido .contenido .equipo_a .logo_equipo_a,
.fechas .partido .contenido .equipo_b .logo_equipo_b {
  width: 35px;
  height: 35px;
  display: inline-block;
}
.fechas .partido .contenido .equipo_a .nombre_a,
.fechas .partido .contenido .equipo_b .nombre_b {
  display: inline-block;
  vertical-align: 16px;
  margin: 5px;
  width: 95px;
  font-size: 18px;
}

.fechas .partido .contenido .resultados {
  font-size: 21pt;
  vertical-align: 20px;
  margin-left: -8px;
  background: #dde6ec;
  width: 20%;
  padding: 5px;
}
.fechas .partido .contenido .resultados .resultado_a,
.fechas .partido .contenido .resultados .resultado_b {
  display: inline-block;
}

.fechas .partido .contenido .equipo_a,
.fechas .partido .contenido .resultados,
.fechas .partido .contenido .equipo_b {
  display: inline-block;
}

.fechas .partido .fecha_estado .estado {
  font-weight: 800;
  padding: 5px;
}

#quicktabs-tabla_de_posiciones_mobile {
  display: none;
}

.slick-arrow::before {
  color: #a81900;
}

.slick-prev:before {
  content: '\f104';
  font-family: 'Font Awesome\ 5 Free';
  padding: 0 10px;
  font-weight: 900;
  position: absolute;
  font-size: 50px;
  top: 0%;
  left: 40%;
}

.slick-next:before {
  content: '\f105';
  font-family: 'Font Awesome\ 5 Free';
  padding: 0 10px;
  font-weight: 900;
  position: absolute;
  font-size: 50px;
  top: 0%;
  right: 40%;
}

.slick-arrow {
  width: 100px;
}

.ultimos-partidos.mobile {
  display: none;
}

.slick--skin--boxed .slide__content {
  display: flex;
  justify-content: center;
}

.ultimos-partidos.tablet {
  display: none;
}

.slick--skin--boxed .slide__content:hover{
  box-shadow: none;
  border-color: transparent;
}


#quicktabs-container-tabla_de_posiciones table{
  margin: 0px 0 !important;
}



/*MOBILE*/

@media screen and (max-width: 600px) {
  .fechas .partido .contenido {
    width: 100%;
  }

  .layout--twocol-section--50-50 {
    flex-wrap: wrap;
    display: block;
  }

  .ultimos-partidos.mobile .view-content {
    justify-content: center;
    display: flex;
  }

  .ultimos-partidos.mobile
    .views-slideshow-controls-bottom
    .views_slideshow_controls_text_pause {
    display: none;
  }

  .fechas .partido .contenido .equipo_a,
  .fechas .partido .contenido .equipo_b {
    margin-left: 10px;
  }
  .fechas .partido .contenido .equipo_a .logo_equipo_a,
  .fechas .partido .contenido .equipo_b .logo_equipo_b {
    width: 25px;
    height: 25px;
  }
  .fechas .partido .contenido .equipo_a .nombre_a,
  .fechas .partido .contenido .equipo_b .nombre_b {
    width: 100px;
    font-size: 12pt;
    margin-left: -10px;
    vertical-align: 10px;
    margin-right: -6px;
  }

  .ultimos-partidos.desktop {
    display: none;
  }

  .ultimos-partidos.mobile {
    display: block;
  }

  .slick-arrow {
    width: 24px;
  }

  .slick-prev:before {
    left: -25%;
  }

  .slick-next:before {
    right: -25%;
  }

  .slick--skin--boxed .slide__content {
    display: flex;
    justify-content: center;
  }

  /*.slick-slider .slick-track,
  .slick-slider .slick-list {
    margin: 0px 5px;
  }*/

  #quicktabs-tabla_de_posiciones .views-field-field-logo,
  #quicktabs-tabla_de_posiciones .views-field-gc-views-field,
  #quicktabs-tabla_de_posiciones .views-field-gf-views-field,
  #quicktabs-tabla_de_posiciones .views-field-pp-views-field,
  #quicktabs-tabla_de_posiciones .views-field-pe-views-field,
  #quicktabs-tabla_de_posiciones .views-field-pg-views-field {
    display: none;
  }
}

@media (min-width: 48em) {
  .slick--skin--boxed > .slick__slider > .slick-list {
    margin: 0px 87px !important;
  }
}

@media screen and (max-width: 768px) and (min-width: 768px) {
  .layout--twocol-section--50-50 {
    flex-wrap: wrap;
    display: block;
  }
  .slick--skin--boxed > .slick__slider > .slick-list {
    margin: 0px 98px !important;
  }
  .ultimos-partidos.mobile {
    display: none;
  }
  .ultimos-partidos.desktop {
    display: none;
  }
  .ultimos-partidos.tablet {
    display: block;
  }
}

@media screen and (max-width: 1024px) and (min-width: 1024px) {
  .slick--skin--boxed > .slick__slider > .slick-list {
    margin: 0px 44px !important;
  }
  .slick-arrow {
    width: 50px;
  }
  .ultimos-partidos.mobile {
    display: none;
  }
  .ultimos-partidos.desktop {
    display: none;
  }
  .ultimos-partidos.tablet {
    display: block;
  }
}

/*ERI-SECCION FECHAS - FIN*/

.on-the-gray .quicktabs-tabpage {
  padding: 0em 0em 0em;
}

.tabla-posiciones .views-table th,
.tabla-posiciones .views-table td {
  text-align: center;
}
.tabla-posiciones .views-table th {
  border-bottom: 3px solid #ccc;
  text-transform: uppercase;
}
.tabla-posiciones .views-table th {
  border-bottom: 3px solid #ccc;
  text-transform: uppercase;
  background: #a11f00;
}
.tabla-posiciones .views-table img {
  width: 45px !important;
  height: 45px !important;
}

.tabla-posiciones .view-header {
  width: 100%;
  background: #222328;
  color: white;
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.25em;
  height: 27px;
  border-bottom: 2px solid #a81900;
  padding: 0.2em 0em 0.2em;
  font-family: arial;
  text-align: center;
  margin: 10px 0px -8px;
}

#quicktabs-tabla_de_posiciones .quicktabs-tabs .positions_table.active a {
  text-transform: uppercase;
  background: #a11f00;
  color: white;
}

#quicktabs-tabla_de_posiciones .quicktabs-tabs .positions_table a {
  background-color: #222328;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
}

#quicktabs-tabla_de_posiciones_mobile
  .quicktabs-tabs
  .positions_table.active
  a {
  text-transform: uppercase;
  background: #a11f00;
  color: white;
}

#quicktabs-tabla_de_posiciones_mobile .quicktabs-tabs .positions_table a {
  background-color: #222328;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
}

.block-quicktabs-blocktabla-de-posiciones {
  font-family: arial;
}

.block-quicktabs-blocktabla-de-posiciones .on-the-gray {
  padding: 0 0px;
}

.block-quicktabs-blocktabla-de-posiciones h2 {
  background-color: #222328;
  margin-bottom: 0%;
  padding: 0.6em 0em 0.6em;
  width: 100%;
  color: white;
  font-weight: 600;
  line-height: 100%;
  font-size: 13px;
  margin-top: 15px;
  text-align: center;
}

.block-inline-blockbasic .content .titulo__fechas {
  background-color: #222328;
  margin-bottom: 0%;
  padding: 0.6em 0em 0.6em;
  width: 100%;
  color: white;
  font-weight: 600;
  line-height: 100%;
  font-size: 13px;
  margin-top: 15px;
  text-align: center;
  font-family: arial;
}

.block-grid .grid__content {
  height: 110px;
  border: none;
  /*background-color: #f4f5f8;*/
  color: black;
  width: 153px;
  display: inline-block;
}

.slick--skin--boxed .slide__content {
  padding: 0px !important;
  margin: 3px !important;
}

#header, .breadcrumb, .site-footer {
  display: none;
}

